/*=================================
=            Variables            =
=================================*/
$font-stack: "Fira Code","Inconsolata",sans-serif;
$font-size: 18px;
$primary-color: #333;

/*----------  Colors  ----------*/
$nav-link-color-100: rgba(74, 74, 74, 1);
$nav-link-color-700: rgba(74, 74, 74, 0.7);
$nav-item-color-100: rgb(94, 200, 77, 1);

// Breakpoints | 16px
// $breakpoint-xlarge: 90em;
$breakpoint-xlarge: 75rem;
$breakpoint-large: 64rem;
$breakpoint-medium: 40rem;
$breakpoint-small: 30rem;
